:root {
  --var-dark-color: #2F1D29;
  --var-font-colour: #51365F;
  --var-dark-purple-color: #533960;
  --var-green-border: #155600c4;
  --var-green-color: #2F9774;
  --var-orange-color: #C8623C;
}

@mixin flex-center($direction){
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin flex-between($direction){
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-even($direction){
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flex-start($direction){
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-end($direction){
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: flex-end;
}

@mixin background-image($size){
  background-size: $size;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin text-container(){
  background-color: rgba(255, 255, 255, 0.5 );
  border: solid 2px var(--var-green-border);
  border-radius: 5px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  padding: 1em;
}
