@import '../global/variables.scss';

footer {
  background-color: var(--var-dark-color);
  @include flex-between(row);
  flex-wrap: wrap;
  color: #FAF9F6;
  font-size: 20px;
  p {
    margin: 0 auto;
    padding: 10px 20px;
  }
  .link {
    margin: 0 auto;
    color: #FAF9F6;
    font-size: 20px;
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  footer {
    p {
      font-size: 1em;
    }
    .link {
      font-size: 1em;
    }
  }
}