.hero {
  align-self: flex-start;
  width: 360px;
  @include flex-center(column);
  margin-top: 2em;
  h3 {
    color: var(--var-font-colour);
    font-size: 2em;
  }
  .wavey {
    @include flex-center(row);
    flex-wrap: wrap;
    position: relative;
    width: 360px;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    h1 {
      font-size: 40px;
      min-width: 15px;
      color: var(--var-font-colour);
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      animation: wavey 2.5s infinite;
      animation-delay: calc(.1s * var(--i));
    }
  }
}

@keyframes wavey {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}