.hero {
  align-self: flex-start;
  justify-self: center;
  min-width: 360px;
  width: 100%;
  @include flex-center(column);
  margin-top: 0px;
  h3 {
    color: var(--var-font-colour);
    font-size: 2em;
    animation: glow-flicker 4s linear infinite;
    padding: 20px;
    margin: 0px;
  }
  .wavey {
    @include flex-center(row);
    flex-wrap: wrap;
    position: relative;
    width: 360px;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    h1 {
      font-size: 40px;
      min-width: 15px;
      color: var(--var-font-colour);
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      animation: wavey 2.5s infinite;
      animation-delay: calc(.1s * var(--i));
      text-align: center;
      text-shadow: 1px 1px 3px #ffffff, 1px 1px 5px rgba(199, 36, 177, 1), 1px 1px 5px rgba(199, 36, 177, 1), 1px 1px 5px rgba(199, 36, 177, 1);
    }
  }
}

@keyframes wavey {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@keyframes glow-flicker{
  0% {
    text-shadow: 1px 1px 5px #ffffff, 1px 1px 20px rgba(199, 36, 177, 1), 1px 1px 20px rgba(199, 36, 177, 1), 1px 1px 20px rgba(199, 36, 177, 1);
  }
  50% {
    text-shadow: 1px 1px 5px rgba(199, 36, 177, 0), 1px 1px 5px rgba(199, 36, 177, 0), 1px 1px 5px rgba(199, 36, 177, 0), 1px 1px 5px rgba(199, 36, 177, 0);
  }
  100% {
    text-shadow: 1px 1px 5px #ffffff, 1px 1px 20px rgba(199, 36, 177, 1), 1px 1px 20px rgba(199, 36, 177, 1), 1px 1px 20px rgba(199, 36, 177, 1);
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .hero {
      h3 {
        font-size: 3em;
      }
    }
  }




// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .hero {
    h3 {
      font-size: 4em;
    }
    .wavey {
      width: 100%;
      h1 {
        font-size: 4em;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 

//  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .hero {
    .wavey{
      h1 {
        font-size: 6em;
        min-width: 35px;
      }
    }
  }
}